Repository nitinthakurcode/weddingflo: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, e2e

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 2%
    patch:
      default:
        target: 80%

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/types/**"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - ".next/**"
  - "public/**"
  - "**/__tests__/**"
  - "**/mocks/**"
  - "**/test-utils/**"

flags:
  unit:
    paths:
      - src/
    carryforward: true
  integration:
    paths:
      - src/server/
      - src/lib/
    carryforward: true
  e2e:
    paths:
      - e2e/
    carryforward: true

chore: update Jest setup and assets
  __tests__/components/ui/button.test.tsx
  __tests__/lib/timeline-utils.test.ts
  jest.config.js
  jest.polyfills.ts
  jest.setup.ts
  package-lock.json
  package.json
  public/sw.js
  public/sw.js.map
  src/app/[locale]/layout.tsx
  src/features/clients/server/routers/__tests__/clients.router.test.ts
Due: unit

ci: add GitHub Actions workflow for Fly.io deployment
  .github/workflows/deploy.yml
Due: none

fix: increase Node.js memory for GitHub Actions
  .github/workflows/test.yml
Due: none

fix: add OPENAI_API_KEY to build environment
  .github/workflows/test.yml
Due: none

fix: allow integration tests to pass when no tests exist
  .github/workflows/test.yml
Due: none

fix: move Supabase client creation inside handlers
  package.json
  public/sw.js
  public/sw.js.map
  scripts/verify-setup.mjs
  src/app/[locale]/(auth)/sign-in/[[...sign-in]]/page.tsx
  src/app/[locale]/(auth)/sign-up/[[...sign-up]]/page.tsx
  src/app/[locale]/(dashboard)/dashboard/clients/page.tsx
  src/app/[locale]/(dashboard)/dashboard/settings/system/page.tsx
  src/app/[locale]/(dashboard)/layout.tsx
  src/app/[locale]/(sync)/layout.tsx
  src/app/[locale]/(sync)/sync/page.tsx
  src/app/api/calendar/feed/[token]/route.ts
  src/app/api/calendar/google/callback/route.ts
  src/app/api/health/detailed/route.ts
  src/app/api/user/sync/route.ts
  src/lib/env-validation.ts
  src/lib/supabase/server.ts
  src/middleware.ts
  src/providers/supabase-provider.tsx
Due: unit, integration

fix: update to November 2025 API standards
  src/app/api/health/detailed/route.ts
  src/lib/env-validation.ts
Due: unit, integration

docs: add CLAUDE.md for November 2025 standards enforcement
  CLAUDE.md
Due: none

fix: lazy initialization for all external service clients
  src/lib/ai/openai-client.ts
  src/lib/email/resend-client.ts
  src/lib/email/resend.ts
  src/lib/payments/stripe.ts
  src/lib/sms/twilio.ts
  src/lib/stripe/stripe-client.ts
Due: unit, integration

ci: add ESLint job and comprehensive env vars to test workflow
  .github/workflows/test.yml
Due: none

ci: remove deprecated ESLint job from workflow
  .github/workflows/test.yml
Due: none

fix: update scripts to use November 2025 API standards
  scripts/pre-deploy-check.sh
  scripts/verify-setup.mjs
Due: none

chore: update database types with November 2025 RLS functions
  src/lib/database.types.ts
Due: unit, integration

fix: align role names with database enum and fix routing
  src/app/[locale]/(dashboard)/layout.tsx
  src/app/[locale]/(dashboard)/settings/team/page.tsx
  src/app/api/onboard/route.ts
  src/lib/permissions/roles.ts
  src/lib/validations/user.schema.ts
Due: unit, integration

feat: enhance import/export with format hints and fix hotel/transport import
  src/app/[locale]/guest-register/[clientId]/page.tsx
  src/features/analytics/server/routers/import.router.ts
  src/lib/export/csv-exporter.ts
  src/lib/export/excel-exporter.ts
  src/lib/import/csv-parser.ts
  src/lib/import/excel-parser.ts
Due: unit, integration

fix: production-grade auth hydration and schema sync
  drizzle.config.ts
  package-lock.json
  package.json
  public/favicon.ico
  src/app/AuthLoadedBoundary.tsx
  src/app/AuthProvider.tsx
  src/app/[locale]/layout.tsx
  src/app/api/auth/[...all]/route.ts
  src/app/api/auth/get-session/route.ts
  src/app/globals.css
  src/app/providers/feedback-provider.tsx
  src/components/auth/google-one-tap.tsx
  src/components/auth/turnstile-captcha.tsx
  src/components/auth/user-menu.tsx
  src/components/dashboard/header.tsx
  src/components/dashboard/recent-bookings-widget.tsx
  src/components/dashboard/revenue-widget.tsx
  src/components/ui/collapsible.tsx
  src/components/ui/micro-interactions.tsx
  src/features/analytics/server/routers/internal-budget.router.ts
  src/features/clients/server/routers/pipeline.router.ts
  src/features/core/server/routers/activity.router.ts
  src/features/core/server/routers/index.ts
  src/features/events/server/routers/event-flow.router.ts
  src/features/events/server/routers/gift-types.router.ts
  src/features/events/server/routers/guest-gifts.router.ts
  src/features/events/server/routers/guest-transport.router.ts
  src/lib/auth-client.ts
  src/lib/auth.ts
  src/lib/auth/server.ts
  src/lib/backup/auto-sync-trigger.ts
  src/lib/db/index.ts
  src/lib/db/queries/analytics.ts
  src/lib/db/queries/index.ts
  src/lib/db/schema-features.ts
  src/lib/db/schema.ts
  src/lib/db/schema/auth.ts
  src/lib/esignature/index.ts
  src/lib/storage/index.ts
  src/server/trpc/routers/_app.ts
Due: unit, integration

fix: add googleSheets router stub to handle sync requests gracefully
  src/features/backup/server/routers/googleSheets.router.ts
  src/features/backup/server/routers/index.ts
  src/server/trpc/routers/_app.ts
Due: unit, integration

fix: add missing DietaryMatrixView and GroupManagementView components
  src/components/guests/dietary-matrix-view.tsx
  src/components/guests/group-management-view.tsx
Due: unit

fix: sync Drizzle schema with database for guests table
  src/lib/db/schema-features.ts
Due: unit, integration

feat: add advance-payments-section component for vendor payments
  src/components/vendors/advance-payments-section.tsx
Due: unit

fix: sync Drizzle schemas with database for hotels and guest_transport
  src/components/hotels/RoomAssignmentDialog.tsx
  src/lib/db/schema-features.ts
Due: unit, integration

feat: implement full Transport module with cross-module guest sync
  src/app/[locale]/(dashboard)/dashboard/clients/[clientId]/transport/page.tsx
  src/features/analytics/server/routers/import.router.ts
  src/features/events/server/routers/guest-transport.router.ts
Due: unit

feat: vendor auto-creation and bidirectional budget sync
  drizzle/migrations/0001_add_performance_indexes.sql
  messages/en.json
  src/app/[locale]/(dashboard)/dashboard/clients/[clientId]/guests/page.tsx
  src/app/[locale]/(dashboard)/dashboard/clients/[clientId]/hotels/page.tsx
  src/app/[locale]/(dashboard)/dashboard/clients/[clientId]/transport/page.tsx
  src/app/[locale]/(dashboard)/layout.tsx
  src/app/[locale]/layout.tsx
  src/app/api/user/sync/route.ts
  src/components/calendar/ical-feed-manager.tsx
  src/components/onboarding/FirstClientStep.tsx
  src/components/push/push-notification-preferences.tsx
  src/components/theme/server-theme-script.tsx
  src/components/websites/website-settings.tsx
  src/features/analytics/server/routers/budget.router.ts
  src/features/clients/server/routers/clients.router.ts
  src/features/events/server/routers/guest-transport.router.ts
  src/lib/auth-client.ts
  src/lib/auth.ts
  src/lib/auth/server.ts
  src/lib/db/schema-features.ts
  src/lib/db/schema.ts
Due: unit, integration

feat: implement cross-module timeline synchronization
  src/features/analytics/server/routers/budget.router.ts
  src/features/events/server/routers/events.router.ts
  src/features/events/server/routers/guest-transport.router.ts
  src/features/events/server/routers/hotels.router.ts
  src/features/events/server/routers/vendors.router.ts
  src/lib/db/schema-features.ts
Due: unit, integration

fix: filter soft-deleted items from timeline queries
  src/features/events/server/routers/timeline.router.ts
Due: unit

feat: add efficient timeline sync with dedicated source columns
  src/features/analytics/server/routers/budget.router.ts
  src/features/events/server/routers/events.router.ts
  src/features/events/server/routers/guest-transport.router.ts
  src/features/events/server/routers/hotels.router.ts
  src/features/events/server/routers/vendors.router.ts
  src/lib/db/schema-features.ts
Due: unit, integration

feat: implement Hotels module with accommodations and cascade delete
  src/app/[locale]/(dashboard)/dashboard/clients/[clientId]/hotels/page.tsx
  src/components/hotels/CreateAccommodationDialog.tsx
  src/components/hotels/RoomAssignmentDialog.tsx
  src/features/events/server/routers/accommodations.router.ts
  src/features/events/server/routers/index.ts
  src/lib/db/schema-features.ts
  src/server/trpc/routers/_app.ts
Due: unit, integration

feat: event-wise timeline with phases and collapsible vendor segments
  src/app/[locale]/(dashboard)/dashboard/clients/[clientId]/timeline/page.tsx
  src/app/[locale]/(dashboard)/dashboard/clients/[clientId]/vendors/page.tsx
  src/features/clients/server/routers/clients.router.ts
  src/features/events/server/routers/events.router.ts
  src/features/events/server/routers/timeline.router.ts
  src/lib/db/schema-features.ts
Due: unit, integration

feat: enhance hotels and transport modules with auto-linking
  src/app/[locale]/(dashboard)/dashboard/clients/[clientId]/hotels/page.tsx
  src/app/[locale]/(dashboard)/dashboard/clients/[clientId]/transport/page.tsx
  src/features/events/server/routers/guest-transport.router.ts
  src/features/events/server/routers/hotels.router.ts
Due: unit

chore: add migration for timeline phases and transport fleet tracking
  drizzle/migrations/0002_add_timeline_event_phase.sql
Due: none

feat: implement module sync improvements for cross-module data consistency
  drizzle/migrations/0013_module_sync_improvements.sql
  src/app/api/cron/check-payment-reminders/route.ts
  src/app/api/cron/process-jobs/route.ts
  src/features/analytics/server/routers/budget.router.ts
  src/features/events/server/routers/events.router.ts
  src/features/events/server/routers/vendors.router.ts
  src/features/guests/server/routers/guests.router.ts
  src/lib/db/schema-features.ts
Due: unit, integration

feat: implement comprehensive audit improvements for cross-module sync and cascade operations
  .claude/SYNC_ARCHITECTURE.md
  drizzle/migrations/0020_comprehensive_audit_indexes.sql
  drizzle/migrations/0021_add_foreign_key_constraints.sql
  src/components/guests/bulk-import-dialog.tsx
  src/features/clients/server/routers/clients.router.ts
  src/features/events/server/routers/vendors.router.ts
  src/features/guests/server/routers/guests.router.ts
  src/lib/backup/auto-sync-trigger.ts
  src/lib/db/schema-features.ts
  src/lib/db/schema-relations.ts
  src/lib/notifications/cascade-toast.ts
Due: unit, integration

feat: implement Phase 2 audit - transaction wrapping and cascade notifications
  __tests__/components/ui/button.test.tsx
  jest.config.js
  src/features/analytics/server/routers/import.router.ts
  src/features/clients/server/routers/__tests__/clients.router.test.ts
  src/features/events/server/routers/guest-transport.router.ts
  src/features/events/server/routers/hotels.router.ts
  src/features/events/server/routers/vendors.router.ts
  src/lib/notifications/cascade-toast.ts
Due: unit, integration

feat: implement comprehensive audit fixes and Google Sheets integration
  src/features/analytics/server/routers/import.router.ts
  src/features/backup/server/routers/googleSheets.router.ts
  src/features/events/server/routers/guest-transport.router.ts
  src/features/events/server/routers/hotels.router.ts
  src/features/guests/server/routers/guests.router.ts
  src/lib/backup/auto-sync-trigger.ts
  src/lib/db/schema-features.ts
  src/lib/google/sheets-client.ts
  src/lib/google/sheets-sync.ts
Due: unit, integration

feat: implement scalable real-time sync with Redis pub/sub
  src/app/[locale]/(dashboard)/layout.tsx
  src/features/chatbot/components/chat-toggle.tsx
  src/features/chatbot/server/services/query-invalidation-map.ts
  src/features/chatbot/server/services/tool-executor.ts
  src/features/realtime/components/realtime-provider.tsx
  src/features/realtime/components/realtime-wrapper.tsx
  src/features/realtime/hooks/use-realtime-sync.ts
  src/features/realtime/index.ts
  src/lib/realtime/redis-pubsub.ts
  src/server/trpc/routers/_app.ts
  src/server/trpc/routers/sync.router.ts
Due: unit, integration

fix: security audit - pending call ownership and Redis rate limiting
  src/features/chatbot/server/routers/chatbot.router.ts
  src/lib/redis/rate-limiter.ts
Due: unit, integration
