Repository nitinthakurcode/weddingflo: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, e2e

feat: expand Google Sheets sync with full module import support
  src/features/backup/server/routers/googleSheets.router.ts
  src/features/chatbot/server/services/context-builder.ts
  src/features/events/server/routers/hotels.router.ts
  src/features/guests/server/routers/guests.router.ts
  src/lib/google/sheets-sync.ts
Due: unit, integration

docs: replace fragmented documentation with comprehensive architecture guide
  .claude/MODULE_DATA_SYNC_ARCHITECTURE.md
  .claude/PROJECT_STANDARDS.md
  .claude/SYNC_ARCHITECTURE.md
  NOVEMBER_2025_FINAL_ASSESSMENT.md
  README.md
  SECURITY.md
  START_HERE.md
  WEDDINGFLO_ARCHITECTURE.md
Due: none

feat: implement Phase 2 security remediation (HIGH findings)
  .env.production.example
  WEDDINGFLO_ARCHITECTURE.md
  docs/PHASE2_CHANGELOG.md
  drizzle/migrations/0022_create_app_role.sql
  drizzle/migrations/0023_rls_helpers_and_denormalize.sql
  drizzle/migrations/0024_enable_rls_all_tables.sql
  drizzle/migrations/0025_prepare_oauth_encryption.sql
  jest.config.js
  jest.setup.ts
  package-lock.json
  package.json
  scripts/encrypt-existing-tokens.ts
  scripts/verify-phase2.sh
  src/app/api/calendar/google/callback/route.ts
  src/features/backup/server/routers/googleSheets.router.ts
  src/lib/auth.ts
  src/lib/auth/argon2-password.ts
  src/lib/crypto/token-encryption.ts
  src/lib/db/with-tenant-scope.ts
  src/lib/sse/connection-manager.ts
  src/server/trpc/context.ts
  src/server/trpc/routers/sync.router.ts
  tests/security/argon2-password.test.ts
  tests/security/rls-isolation.test.ts
  tests/security/sse-connection-manager.test.ts
  tests/security/token-encryption.test.ts
Due: unit, integration

feat: implement Phase 1 security remediation and pre-deploy verification
  .env.production.example
  WEDDINGFLO_ARCHITECTURE.md
  docs/PHASE1_CHANGELOG.md
  next.config.ts
  scripts/rotate-secrets.sh
  scripts/verify-deployment.sh
  src/features/media/server/routers/documents.router.ts
  src/features/media/server/routers/storage.router.ts
  src/lib/realtime/redis-pubsub.ts
  src/lib/redis/rate-limiter.ts
  src/lib/storage/r2-client.ts
  tests/security/r2-tenant-isolation.test.ts
  tests/security/r2-validation.test.ts
  tests/security/sse-connection-manager.test.ts
  tsconfig.json
Due: unit, integration

fix: sync Drizzle schema with database FK constraints and RLS columns
  src/lib/db/schema-features.ts
  src/lib/db/schema-questionnaires.ts
  src/lib/db/schema-relations.ts
Due: unit, integration

fix: add RLS companyId columns and fix hotelBookings FK type mismatch
  src/lib/db/schema-chatbot.ts
  src/lib/db/schema-features.ts
  src/lib/db/schema-relations.ts
Due: unit, integration

fix: close RLS gaps and backfill NULL company_id values
  drizzle/migrations/0024_enable_rls_all_tables.sql
  drizzle/migrations/0027_ba_ids.sql
  drizzle/migrations/meta/0027_snapshot.json
  drizzle/migrations/meta/_journal.json
Due: none

fix(schema): complete 5-session schema remediation — zero drift, zero RLS gaps, deprecated users table migrated
  .claude/plan.md
  drizzle/migrations/0009_consolidate_user_tables.sql
  drizzle/migrations/0012_add_performance_indexes.sql
  drizzle/migrations/0014_chatbot_conversations.sql
  drizzle/migrations/0015_add_foreign_keys.sql
  drizzle/migrations/0016_add_performance_indexes.sql
  drizzle/migrations/0020_comprehensive_audit_indexes.sql
  drizzle/migrations/0021_add_foreign_key_constraints.sql
  drizzle/migrations/0022_create_app_role.sql
  drizzle/migrations/0023_rls_helpers_and_denormalize.sql
  drizzle/migrations/0025_prepare_oauth_encryption.sql
  drizzle/migrations/0026_schema-reconciliation.sql
  drizzle/migrations/meta/0026_snapshot.json
  src/app/[locale]/(portal)/portal/chat/page.tsx
  src/app/[locale]/(portal)/portal/wedding/page.tsx
  src/app/[locale]/(superadmin)/superadmin/companies/page.tsx
  src/app/[locale]/(superadmin)/superadmin/dashboard/page.tsx
  src/app/api/calendar/google/callback/route.ts
  src/app/api/cron/check-payment-reminders/route.ts
  src/features/analytics/server/routers/budget.router.ts
  src/features/chatbot/server/services/context-builder.ts
  src/features/chatbot/server/services/tool-executor.ts
  src/features/clients/server/routers/clients.router.ts
  src/features/clients/server/routers/pipeline.router.ts
  src/features/core/server/routers/activity.router.ts
  src/features/core/server/routers/companies.router.ts
  src/features/core/server/services/notification.service.ts
  src/features/events/server/routers/timeline.router.ts
  src/features/guests/server/routers/messages.router.ts
  src/features/media/server/routers/creatives.router.ts
  src/features/media/server/routers/documents.router.ts
  src/features/payments/server/routers/payment.router.ts
  src/features/proposals/server/routers/contracts.router.ts
  src/features/proposals/server/routers/proposals.router.ts
  src/features/workflows/server/routers/workflows.router.ts
  src/lib/auth/roles.ts
  src/lib/db/schema-features.ts
  src/lib/db/schema-relations.ts
  src/lib/email/digest-service.ts
  src/lib/firebase/push-sender.ts
Due: unit, integration

docs: comprehensive schema remediation reference document
  docs/SCHEMA_REMEDIATION_COMPLETE.md
Due: none

docs: fix inaccuracies in remediation reference document
  docs/SCHEMA_REMEDIATION_COMPLETE.md
Due: none

docs: rebuild remediation reference with actual codebase data
  docs/SCHEMA_REMEDIATION_COMPLETE.md
Due: none

docs: add danger zone and verification commands to remediation reference
  docs/SCHEMA_REMEDIATION_COMPLETE.md
Due: none

docs: add safe modification patterns and exact baseline counts
  docs/SCHEMA_REMEDIATION_COMPLETE.md
Due: none

docs: fix incorrect issue references for notNull changes
  docs/SCHEMA_REMEDIATION_COMPLETE.md
Due: none

fix(enums): standardize RSVP status values across codebase
  src/app/[locale]/(dashboard)/dashboard/clients/[clientId]/guests/page.tsx
  src/app/[locale]/guest-register/[clientId]/page.tsx
  src/app/[locale]/qr/[token]/page.tsx
  src/components/guests/bulk-import-dialog.tsx
  src/components/guests/guest-details-sheet.tsx
  src/components/guests/guest-list.tsx
  src/features/analytics/server/routers/import.router.ts
  src/features/guests/server/routers/guests.router.ts
  src/features/portal/server/routers/portal.router.ts
  src/lib/constants/enums.ts
  src/lib/email/digest-service.ts
  src/lib/export/pdf-generator.ts
  src/lib/google/sheets-sync.ts
  src/lib/import/csv-parser.ts
  src/lib/import/excel-parser.ts
  src/lib/validations/guest.schema.ts
  src/types/guest.ts
Due: unit, integration

fix(enums): standardize guest side values to gender-neutral partner1/partner2/mutual
  src/components/floor-plans/guest-assignment-sidebar.tsx
  src/components/guests/guest-form.tsx
  src/components/guests/guest-list.tsx
  src/features/chatbot/server/services/tool-executor.ts
  src/features/chatbot/tools/definitions.ts
  src/features/chatbot/tools/schemas.ts
  src/features/guests/server/routers/guests.router.ts
  src/lib/constants/enums.ts
  src/lib/db/schema/enums.ts
  src/lib/db/types.ts
  src/lib/import/excel-parser.ts
  src/lib/validations/guest.schema.ts
Due: unit, integration

feat(budget): shared per-guest budget recalculation on RSVP change
  src/features/budget/server/utils/per-guest-recalc.ts
  src/features/chatbot/server/services/tool-executor.ts
  src/features/guests/server/routers/guests.router.ts
  src/features/guests/server/utils/guest-cascade.ts
Due: unit

docs: verify and correct Session 2 remaining gaps in audit report
  docs/SCHEMA_REMEDIATION_COMPLETE.md
  src/features/analytics/server/routers/budget.router.ts
  src/features/analytics/server/routers/import.router.ts
  src/features/backup/server/routers/googleSheets.router.ts
  src/features/events/server/routers/events.router.ts
  src/features/events/server/routers/floor-plans.router.ts
  src/features/events/server/routers/gifts.router.ts
  src/features/events/server/routers/guest-transport.router.ts
  src/features/events/server/routers/hotels.router.ts
  src/features/events/server/routers/timeline.router.ts
  src/features/events/server/routers/vendors.router.ts
  src/features/guests/server/routers/guests.router.ts
  src/lib/google/sheets-sync.ts
  src/lib/realtime/broadcast-sync.ts
  weddingflo-src.zip
Due: unit, integration

feat(import-export): Session 3 Excel/spreadsheet audit fixes
  src/features/analytics/server/routers/budget.router.ts
  src/features/analytics/server/routers/import.router.ts
  src/lib/export/csv-exporter.ts
  src/lib/export/excel-exporter.ts
  src/lib/import/csv-parser.ts
  src/lib/import/excel-parser.ts
Due: unit, integration

feat(google-sheets): Session 4 audit fixes + ground-truth reference doc
  docs/audit/Session 4 — Google Sheets Sync Audit.md
  docs/audit/session-4-google-sheets-ground-truth.md
  src/features/backup/server/routers/googleSheets.router.ts
  src/features/events/server/routers/floor-plans.router.ts
  src/features/payments/server/routers/payment.router.ts
  src/lib/google/sheets-client.ts
  src/lib/google/sheets-sync.ts
Due: unit, integration

feat(chatbot): Session 5 audit — 37 fixes across 7 rounds + comprehensive docs
  docs/audit/SESSION_5_CHATBOT_AUDIT_AND_FIXES.md
  src/app/api/chatbot/stream/route.ts
  src/features/chatbot/server/routers/chatbot.router.ts
  src/features/chatbot/server/services/context-builder.ts
  src/features/chatbot/server/services/entity-resolver.ts
  src/features/chatbot/server/services/pending-calls.ts
  src/features/chatbot/server/services/query-invalidation-map.ts
  src/features/chatbot/server/services/tool-executor.ts
  src/features/chatbot/tools/definitions.ts
  src/features/chatbot/tools/schemas.ts
  src/features/guests/server/routers/guests.router.ts
  src/lib/ai/prompts/chatbot-system.ts
Due: unit, integration

fix(session6-p2): guest delete timeline cleanup, vendor update tx, client update tx
  src/features/clients/server/routers/clients.router.ts
  src/features/events/server/routers/vendors.router.ts
  src/features/guests/server/routers/guests.router.ts
Due: unit

feat(session6-p3): sync client cached budget/guestCount on every module mutation
  src/features/analytics/server/routers/budget.router.ts
  src/features/analytics/server/routers/import.router.ts
  src/features/chatbot/server/services/tool-executor.ts
  src/features/clients/server/routers/clients.router.ts
  src/features/guests/server/routers/guests.router.ts
  src/lib/google/sheets-sync.ts
  src/lib/sync/client-stats-sync.ts
Due: unit, integration

fix(session6-p4): soft-delete safety, transport master export, floor plan broadcastSync
  src/app/[locale]/(dashboard)/dashboard/clients/[clientId]/page.tsx
  src/features/events/server/routers/floor-plans.router.ts
  src/lib/export/excel-exporter.ts
Due: unit, integration

docs(session6): complete audit report for client module
  docs/audit/session-6-client-module.md
Due: none

docs(session7): real-time sync and SSE audit report
  docs/audit/session-7-realtime-sync.md
Due: none

fix(session7-p1): correct all phantom queryPaths, remove no-op publishSyncAction
  src/features/analytics/server/routers/budget.router.ts
  src/features/analytics/server/routers/import.router.ts
  src/features/chatbot/server/services/query-invalidation-map.ts
  src/features/chatbot/server/services/tool-executor.ts
  src/features/events/server/routers/events.router.ts
  src/features/events/server/routers/gifts.router.ts
  src/features/events/server/routers/guest-transport.router.ts
  src/features/events/server/routers/hotels.router.ts
  src/features/events/server/routers/timeline.router.ts
  src/features/events/server/routers/vendors.router.ts
  src/features/guests/server/routers/guests.router.ts
  src/lib/google/sheets-sync.ts
  src/lib/realtime/broadcast-sync.ts
Due: unit, integration

fix(session7-p2): add missing broadcastSync to 26 mutations, cascade broadcast, recalcClientStats paths
  src/features/analytics/server/routers/budget.router.ts
  src/features/clients/server/routers/clients.router.ts
  src/features/events/server/routers/floor-plans.router.ts
  src/features/events/server/routers/gifts.router.ts
  src/features/events/server/routers/guest-transport.router.ts
  src/features/events/server/routers/hotels.router.ts
  src/features/events/server/routers/timeline.router.ts
  src/features/events/server/routers/vendors.router.ts
Due: unit

fix(session7-p3): import broadcast paths, session 7 report
  docs/audit/session-7-realtime-sync.md
  src/features/analytics/server/routers/import.router.ts
  src/features/guests/server/routers/guests.router.ts
  src/lib/google/sheets-sync.ts
Due: unit, integration

fix(session7-p4): all remaining medium and low sync issues
  docs/audit/session-7-realtime-sync.md
  src/features/backup/server/routers/googleSheets.router.ts
  src/features/chatbot/server/services/tool-executor.ts
  src/features/events/server/routers/floor-plans.router.ts
  src/features/events/server/routers/timeline.router.ts
  src/features/events/server/routers/vendors.router.ts
  src/features/realtime/hooks/use-realtime-sync.ts
  src/lib/google/sheets-sync.ts
  src/lib/realtime/redis-pubsub.ts
  src/lib/sse/connection-manager.ts
Due: unit, integration

docs(session7): comprehensive real-time sync audit report with full coverage matrix
  docs/audit/session-7-realtime-sync.md
Due: none

fix(session8-p2): fix vitest path alias config — tests can now resolve @/ imports
  package-lock.json
  package.json
  tests/security/r2-tenant-isolation.test.ts
  tests/security/rls-isolation.test.ts
  tests/security/sse-connection-manager.test.ts
  vitest.config.ts
  vitest.jest-globals-shim.ts
  vitest.setup.ts
Due: none

fix(session8-p3): cross-session verification — fix all gaps found
  src/features/events/server/routers/vendors.router.ts
  src/features/guests/server/routers/guests.router.ts
Due: unit

fix(session8-p4): chatbot parity + sheets/import sync + export completeness
  src/features/chatbot/server/services/tool-executor.ts
Due: unit

fix(session8-p5): final security verification + production build confirmed
  docs/audit/session-8-final-report.md
  src/features/analytics/server/routers/import.router.ts
  src/lib/import/excel-parser-server.ts
  src/lib/import/excel-parser.ts
Due: unit, integration

docs(session8): comprehensive final audit report with verified metrics and architecture rules
  docs/audit/session-8-final-report.md
Due: none

docs(session8): deployment runbook + data normalization script for production safety
  docs/DEPLOYMENT_RUNBOOK.md
  scripts/normalize-existing-data.sql
Due: none

fix(session8): schema-router-frontend alignment — 24 mismatches fixed across 10 modules
  src/components/guests/guest-dialog.tsx
  src/features/analytics/server/routers/budget.router.ts
  src/features/chatbot/server/services/tool-executor.ts
  src/features/events/server/routers/events.router.ts
  src/features/events/server/routers/floor-plans.router.ts
  src/features/events/server/routers/gifts-enhanced.router.ts
  src/features/events/server/routers/gifts.router.ts
  src/features/events/server/routers/guest-transport.router.ts
  src/features/events/server/routers/hotels.router.ts
  src/features/events/server/routers/timeline.router.ts
  src/features/guests/server/routers/guests.router.ts
  src/features/guests/server/utils/guest-cascade.ts
Due: unit

fix(session8-partB): import/export field parity + cross-module sync — 32 mismatches fixed
  src/lib/import/excel-parser-server.ts
  src/lib/import/excel-parser.ts
Due: unit, integration

Path conditions:
  unit: any of: src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/types/**, **/*.d.ts, **/node_modules/**, .next/**, public/**, **/__tests__/**, **/mocks/**, **/test-utils/**
  integration: any of: src/server/, src/lib/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/types/**, **/*.d.ts, **/node_modules/**, .next/**, public/**, **/__tests__/**, **/mocks/**, **/test-utils/**
  e2e: any of: e2e/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/types/**, **/*.d.ts, **/node_modules/**, .next/**, public/**, **/__tests__/**, **/mocks/**, **/test-utils/**
