Repository nitinthakurcode/weddingflo: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, e2e

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 2%
    patch:
      default:
        target: 80%

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/types/**"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - ".next/**"
  - "public/**"
  - "**/__tests__/**"
  - "**/mocks/**"
  - "**/test-utils/**"

flags:
  unit:
    paths:
      - src/
    carryforward: true
  integration:
    paths:
      - src/server/
      - src/lib/
    carryforward: true
  e2e:
    paths:
      - e2e/
    carryforward: true

fix(session8-partC): chatbot parity + final comprehensive sweep — 18 issues fixed
  src/features/backup/server/routers/googleSheets.router.ts
  src/features/chatbot/server/services/tool-executor.ts
  src/lib/google/sheets-sync.ts
Due: unit, integration

fix(session8): fix PostgreSQL UPDATE FROM JOIN syntax in normalization script
  scripts/normalize-existing-data.sql
Due: none

fix(session8): enable RLS on client_vendors — was missing tenant isolation
  drizzle/migrations/0028_add_company_id_rls_client_vendors.sql
  scripts/normalize-existing-data.sql
  src/features/chatbot/server/services/tool-executor.ts
  src/features/clients/server/routers/clients.router.ts
  src/features/events/server/routers/vendors.router.ts
  src/lib/db/schema-features.ts
  src/lib/google/sheets-sync.ts
  src/lib/import/excel-parser-server.ts
Due: unit, integration

docs: comprehensive developer handbook — complete app reference with all features, flows, security, debugging, change propagation
  docs/DEVELOPER_HANDBOOK.md
Due: none

docs: add Claude Code rules file — 32 mandatory rules, canonical queryPaths, key files
  .claude/CLAUDE.md
Due: none

docs: update Claude Code rules — require full handbook reading before any changes
  .claude/CLAUDE.md
Due: none

docs: targeted handbook reading per task type
  .claude/CLAUDE.md
Due: none

fix: typo in CLAUDE.md
  .claude/CLAUDE.md
Due: none

docs: fix typo + add verification rules to handbook sync section
  .claude/CLAUDE.md
Due: none

feat(esignature): self-hosted e-signature system for documents
  docs/DEVELOPER_HANDBOOK.md
  drizzle.config.ts
  drizzle/migrations/0028_purple_brother_voodoo.sql
  drizzle/migrations/meta/0028_snapshot.json
  drizzle/migrations/meta/_journal.json
  messages/de.json
  messages/en.json
  messages/es.json
  messages/fr.json
  messages/hi.json
  messages/ja.json
  messages/zh.json
  package-lock.json
  package.json
  src/app/[locale]/(dashboard)/dashboard/clients/[clientId]/documents/page.tsx
  src/app/[locale]/sign/[token]/page.tsx
  src/app/api/cron/expire-signatures/route.ts
  src/components/documents/signature-tracker.tsx
  src/features/clients/server/routers/clients.router.ts
  src/features/media/server/routers/documents.router.ts
  src/lib/db/schema-esignature.ts
  src/lib/db/schema.ts
  src/lib/email/templates/signature-request-email.tsx
  src/lib/realtime/redis-pubsub.ts
Due: unit, integration

fix: resolve 9 broken sidebar 404s — add missing page.tsx files
  src/app/[locale]/(dashboard)/dashboard/activity/page.tsx
  src/app/[locale]/(dashboard)/dashboard/calendar/page.tsx
  src/app/[locale]/(dashboard)/dashboard/creatives/page.tsx
  src/app/[locale]/(dashboard)/dashboard/my-tasks/page.tsx
  src/app/[locale]/(dashboard)/dashboard/pipeline/page.tsx
  src/app/[locale]/(dashboard)/dashboard/referrals/page.tsx
  src/app/[locale]/(dashboard)/dashboard/reports/page.tsx
  src/app/[locale]/(dashboard)/dashboard/team/page.tsx
  src/app/[locale]/(dashboard)/messages/page.tsx
  src/components/dashboard/mobile-nav.tsx
Due: unit

fix(ci): resolve 4 daily security scan failures + fix pre-commit hook
  .github/workflows/security.yml
  .husky/pre-commit
  package-lock.json
  package.json
Due: none

fix: 10 critical bugs — privilege escalation, cascade integrity, Excel/Sheets sync
  .gitignore
  __tests__/lib/budget-calculations.test.ts
  docs/DEVELOPER_HANDBOOK.md
  drizzle/migrations/0029_majestic_chamber.sql
  drizzle/migrations/meta/0029_snapshot.json
  drizzle/migrations/meta/_journal.json
  src/features/analytics/server/routers/import.router.ts
  src/features/backup/server/routers/googleSheets.router.ts
  src/features/chatbot/server/services/tool-executor.ts
  src/features/chatbot/tools/schemas.ts
  src/lib/backup/auto-sync-trigger.ts
  src/lib/db/schema-features.ts
  src/lib/export/excel-exporter.ts
  src/lib/google/sheets-sync.ts
  src/lib/import/excel-parser-server.ts
  src/lib/import/excel-parser.ts
  src/server/trpc/context.ts
Due: unit, integration

fix(ci): resolve 3 security scan failures + upgrade CI stack to Node 22
  .github/workflows/deploy.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
  Dockerfile
  docs/DEVELOPER_HANDBOOK.md
Due: none

fix(ci): resolve test build crash + deploy workflow parse failure
  .github/workflows/deploy.yml
  src/lib/whatsapp/whatsapp-client.ts
Due: unit, integration

fix(ci): add auth env vars to E2E job + create production environment
  .github/workflows/test.yml
Due: none

fix(ci): fix deploy workflow parse failure — quote name, fix secret conditionals
  .github/workflows/deploy.yml
Due: none

fix(ci): resolve pre-existing test failures — Jest/Vitest split + Resend lazy init
  .github/workflows/test.yml
  docs/DEVELOPER_HANDBOOK.md
  jest.config.js
  src/lib/auth.ts
Due: unit, integration

fix(docker): copy .npmrc into Docker build for legacy-peer-deps
  Dockerfile
Due: none

fix(ci): lower coverage thresholds to match actual coverage + fix Jest 30 CLI
  jest.config.js
  package.json
Due: none

fix(auth): respect SKIP_ENV_VALIDATION in auth module load
  src/lib/auth.ts
Due: unit, integration

fix(docker): add dummy build-time env vars for SDK module initialization
  Dockerfile
Due: none

fix(docker): add remaining dummy env vars for Stripe/Resend/Google SDK init
  Dockerfile
Due: none

wip(chatbot): 25-new-tool expansion (incomplete — schemas/handlers/prompt entries missing)
  src/app/api/chatbot/stream/route.ts
  src/features/chatbot/server/routers/chatbot.router.ts
  src/features/chatbot/server/services/executors/document-executor.ts
  src/features/chatbot/server/services/executors/floor-plan-executor.ts
  src/features/chatbot/server/services/executors/payment-executor.ts
  src/features/chatbot/server/services/executors/pipeline-executor.ts
  src/features/chatbot/server/services/executors/query-executor.ts
  src/features/chatbot/server/services/query-invalidation-map.ts
  src/features/chatbot/server/services/tool-executor.ts
  src/features/chatbot/tools/definitions.ts
  src/features/chatbot/tools/schemas.ts
  src/features/chatbot/tools/tool-permissions.ts
  src/lib/ai/prompts/chatbot-system.ts
Due: unit, integration

fix(layout,auth,i18n): root html/body, auth-client cycle break, error boundary, SetLocale
  next.config.ts
  src/app/AuthLoadedBoundary.tsx
  src/app/AuthProvider.tsx
  src/app/SetLocale.tsx
  src/app/[locale]/error.tsx
  src/app/[locale]/layout.tsx
  src/app/__tests__/root-layout.test.ts
  src/app/layout.tsx
  src/lib/auth-client-core.ts
  src/lib/auth-client.ts
Due: unit, integration

feat(infra): nightly DB backup cron + verify script + dev cleanup
  docker-compose.yml
  docs/DEPLOYMENT_RUNBOOK.md
  scripts/clean-dev.sh
  scripts/verify-backup.sh
  src/app/api/cron/backup-database/route.ts
Due: unit

feat(sync): broadcastSync across 8 feature routers + Sheets conflict detection
  src/features/analytics/server/routers/import.router.ts
  src/features/backup/server/routers/googleSheets.router.ts
  src/features/clients/server/routers/pipeline.router.ts
  src/features/guests/server/routers/websites.router.ts
  src/features/media/server/routers/creatives.router.ts
  src/features/proposals/server/routers/contracts.router.ts
  src/features/proposals/server/routers/proposals.router.ts
  src/features/questionnaires/server/routers/questionnaires.router.ts
  src/features/team/server/routers/team.router.ts
  src/features/workflows/server/routers/workflows.router.ts
  src/lib/export/export-utils.ts
  src/lib/google/sheets-sync.ts
  src/lib/realtime/redis-pubsub.ts
Due: unit, integration

chore(deps): bump within-major + cross-major-safe; remove 3 dead deps
  package-lock.json
  package.json
  src/lib/payments/stripe.ts
  src/lib/stripe/config.ts
  src/lib/stripe/stripe-client.ts
Due: unit, integration

feat(stripe): bump server SDK to v22 + apiVersion '2026-04-22.dahlia'
  package-lock.json
  package.json
  src/lib/payments/stripe.ts
  src/lib/stripe/config.ts
  src/lib/stripe/stripe-client.ts
Due: unit, integration

feat(twilio): bump SDK to v6.0.0
  package-lock.json
  package.json
Due: none

chore(deps): bump react-email to v6.0.8
  package-lock.json
  package.json
Due: none

chore(deps): bump lucide-react to v1.14.0
  package-lock.json
  package.json
Due: none

chore(deps): bump TypeScript to v6.0.3
  package-lock.json
  package.json
Due: none

chore(deps): refresh dependencies to in-range latest
  package-lock.json
  src/lib/payments/stripe.ts
  src/lib/stripe/config.ts
  src/lib/stripe/stripe-client.ts
Due: unit, integration

security(scripts): replace hardcoded credentials with env vars
  scripts/apply-helper-functions-direct.mjs
  scripts/apply-helper-functions-pg.mjs
  scripts/apply-migration.mjs
  scripts/apply-rls-fix.sh
  scripts/apply-rls-optimization.mjs
  scripts/apply-sql-migration.sh
  scripts/apply-via-management-api.sh
  scripts/apply-whatsapp-direct.mjs
  scripts/check-existing-tables.mjs
  scripts/check-function-security.mjs
  scripts/check-tables.mjs
  scripts/fix-rls-performance.sh
  scripts/fix-whatsapp-migration.mjs
  scripts/verify-migrations.mjs
  scripts/verify-payment-tables.mjs
  scripts/verify-push-tables.mjs
  scripts/verify-tables.mjs
Due: none

fix(db): journal client_vendors company_id+RLS as migration 0030
  docs/DEPLOYMENT_RUNBOOK.md
  drizzle/migrations/0030_client_vendors_company_id_rls.sql
  drizzle/migrations/meta/0030_snapshot.json
  drizzle/migrations/meta/_journal.json
Due: none

docs: reconcile handbook/standards to actual code + jest docs ignore
  .claude/CLAUDE.md
  .claude/WEDDINGFLOW_PERMANENT_STANDARDS.md
  docs/DEVELOPER_HANDBOOK.md
  jest.config.js
Due: none

feat(comms): wire outbound email across pending sites (Wave 1)
  src/app/api/invite/client/route.ts
  src/app/api/webhooks/stripe/route.ts
  src/features/proposals/server/routers/contracts.router.ts
  src/features/proposals/server/routers/proposals.router.ts
  src/features/questionnaires/server/routers/questionnaires.router.ts
  src/features/team/server/routers/team.router.ts
  src/lib/email/notification-email.ts
Due: unit, integration

feat(notifications): read-side router + wire bell/dropdown (Wave 2)
  src/components/notifications/notification-bell.tsx
  src/components/notifications/notification-dropdown.tsx
  src/features/communications/server/routers/index.ts
  src/features/communications/server/routers/notifications.router.ts
  src/server/trpc/routers/_app.ts
Due: unit, integration
