Repository nitinthakurcode/weddingflo: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, e2e

feat(workflows): execution engine + job processors + cleanup (Wave 3)
  src/app/api/cron/process-jobs/route.ts
  src/features/workflows/server/routers/workflows.router.ts
  src/lib/workflows/engine.ts
Due: unit, integration

feat(import): Action=DELETE marker for Excel + Sheets (Wave 4)
  src/features/analytics/server/routers/import.router.ts
  src/lib/google/sheets-sync.ts
  src/lib/import/excel-parser-server.ts
Due: unit, integration

feat(integrations): build integrations + implement stub routers (Wave 5)
  drizzle/migrations/0031_api_keys_and_integration_connections.sql
  drizzle/migrations/meta/0031_snapshot.json
  drizzle/migrations/meta/_journal.json
  src/features/analytics/server/routers/internal-budget.router.ts
  src/features/events/server/routers/event-flow.router.ts
  src/features/events/server/routers/gift-types.router.ts
  src/features/events/server/routers/guest-gifts.router.ts
  src/features/integrations/server/routers/integrations.router.ts
  src/lib/db/schema-features.ts
Due: unit, integration

feat(seating): wire conflicts/preferences to existing tables (Wave 6)
  src/features/events/server/routers/floor-plans.router.ts
Due: unit

feat(monitoring): email ops alert on high webhook error rate (Wave 7)
  src/lib/webhooks/audit.ts
Due: unit, integration

docs: sync counts for new routers/tables (Wave 8)
  .claude/CLAUDE.md
  docs/DEPLOYMENT_RUNBOOK.md
  docs/DEVELOPER_HANDBOOK.md
Due: none

fix(db): load .env.local in drizzle.config so db:migrate works directly
  drizzle.config.ts
Due: none

fix(chatbot): disable OpenAI strict mode that broke every chatbot message
  src/features/chatbot/__tests__/chatbot.test.ts
  src/features/chatbot/tools/definitions.ts
Due: unit

perf: hot-path indexes, budget query O(n*m)->O(n+m), pool + staleTime tuning
  drizzle/migrations/0032_hot_path_indexes.sql
  drizzle/migrations/meta/0032_snapshot.json
  drizzle/migrations/meta/_journal.json
  src/features/analytics/server/routers/budget.router.ts
  src/lib/db/index.ts
  src/lib/db/schema-features.ts
  src/lib/trpc/Provider.tsx
Due: unit, integration

perf(realtime): adaptive poll backoff + pub/sub migration RFC
  docs/audit/realtime-pubsub-rfc.md
  src/lib/realtime/redis-pubsub.ts
Due: unit, integration

fix(chatbot): prompt now calls mutation tools instead of narrating a preview
  src/lib/ai/prompts/chatbot-system.ts
Due: unit, integration

fix(realtime): cross-module + cross-tab auto-update for all users
  src/features/realtime/hooks/use-realtime-sync.ts
  src/lib/google/sheets-sync.ts
  src/lib/realtime/invalidate-query-paths.ts
  src/lib/realtime/query-paths.ts
  src/lib/trpc/Provider.tsx
  src/server/trpc/routers/sync.router.ts
Due: unit, integration

feat(auth): enable staff role — full access to assigned clients only
  src/app/api/chatbot/stream/route.ts
  src/features/analytics/server/routers/budget.router.ts
  src/features/analytics/server/routers/export.router.ts
  src/features/analytics/server/routers/import.router.ts
  src/features/clients/server/routers/clients.router.ts
  src/features/communications/server/routers/ai.router.ts
  src/features/events/server/routers/accommodations.router.ts
  src/features/events/server/routers/events.router.ts
  src/features/events/server/routers/floor-plans.router.ts
  src/features/events/server/routers/gifts.router.ts
  src/features/events/server/routers/guest-transport.router.ts
  src/features/events/server/routers/hotels.router.ts
  src/features/events/server/routers/timeline.router.ts
  src/features/events/server/routers/vendors.router.ts
  src/features/guests/server/routers/guests.router.ts
  src/features/guests/server/routers/qr.router.ts
  src/features/guests/server/routers/websites.router.ts
  src/features/media/server/routers/creatives.router.ts
  src/features/media/server/routers/documents.router.ts
  src/features/proposals/server/routers/contracts.router.ts
  src/features/proposals/server/routers/proposals.router.ts
  src/server/trpc/__tests__/client-access.test.ts
  src/server/trpc/client-access.ts
  src/server/trpc/trpc.ts
Due: unit, integration

feat(cron): redis keep-alive endpoint to prevent free-tier auto-deletion
  src/app/api/cron/redis-keepalive/route.ts
Due: unit

fix: chatbot end-to-end execution, vendor auth edge cases, staff index
  drizzle/migrations/0033_team_assignment_index.sql
  drizzle/migrations/meta/0033_snapshot.json
  drizzle/migrations/meta/_journal.json
  src/app/api/chatbot/stream/route.ts
  src/features/chatbot/components/chat-panel.tsx
  src/features/chatbot/hooks/use-streaming-chat.ts
  src/features/events/server/routers/vendors.router.ts
  src/lib/db/schema-features.ts
Due: unit, integration

feat(ai+chatbot): privacy-safe provider chain, chatbot bug fixes, real-DB integration tests
  .claude/CLAUDE.md
  .env.production.example
  docs/DEVELOPER_HANDBOOK.md
  src/app/api/chatbot/stream/route.ts
  src/features/analytics/server/routers/import.router.ts
  src/features/chatbot/server/services/__tests__/integration/00-smoke.integration.test.ts
  src/features/chatbot/server/services/__tests__/integration/10-guests.integration.test.ts
  src/features/chatbot/server/services/__tests__/integration/20-vendors-budget.integration.test.ts
  src/features/chatbot/server/services/__tests__/integration/30-events-timeline.integration.test.ts
  src/features/chatbot/server/services/__tests__/integration/40-clients-hotels-transport-gifts.integration.test.ts
  src/features/chatbot/server/services/__tests__/integration/50-queries-ops.integration.test.ts
  src/features/chatbot/server/services/__tests__/integration/90-live-llm.integration.test.ts
  src/features/chatbot/server/services/__tests__/integration/_harness.ts
  src/features/chatbot/server/services/tool-executor.ts
  src/features/chatbot/tools/definitions.ts
  src/features/chatbot/tools/schemas.ts
  src/features/clients/server/routers/clients.router.ts
  src/features/events/server/routers/vendors.router.ts
  src/lib/ai/__tests__/ai-failover.test.ts
  src/lib/ai/ai-client.ts
  src/lib/ai/assistant.ts
  src/lib/export/excel-exporter.ts
  src/lib/google/sheets-sync.ts
  src/lib/import/excel-parser-server.ts
  src/lib/sync/__tests__/client-cascade-completeness.test.ts
  src/lib/sync/vendor-budget-sync.ts
  vitest.config.ts
  vitest.integration.config.ts
  vitest.integration.setup.ts
Due: unit, integration

fix(lint): restore ESLint pipeline for Next.js 16 + ESLint 9
  .eslintrc.json
  eslint.config.mjs
  package.json
  src/app/[locale]/(dashboard)/dashboard/clients/[clientId]/timeline/page.tsx
  src/app/[locale]/(dashboard)/dashboard/my-tasks/page.tsx
  src/app/[locale]/(dashboard)/dashboard/settings/system/page.tsx
  src/app/[locale]/offline/page.tsx
  src/components/offline/offline-indicator.tsx
  src/components/onboarding/FirstClientStep.tsx
  src/components/onboarding/onboarding-checklist.tsx
  src/components/push/push-notification-history.tsx
  src/components/websites/domain-manager.tsx
  src/components/websites/public/password-protection.tsx
  src/features/chatbot/components/chat-panel.tsx
Due: unit

fix(write-layer): type-harden all DB write objects + fix 5 latent column bugs
  docs/DEVELOPER_HANDBOOK.md
  drizzle/migrations/0034_add_gift_required_and_payment_receipt.sql
  drizzle/migrations/meta/0034_snapshot.json
  drizzle/migrations/meta/_journal.json
  src/app/api/chatbot/stream/route.ts
  src/features/analytics/server/routers/budget.router.ts
  src/features/chatbot/server/routers/chatbot.router.ts
  src/features/chatbot/server/services/__tests__/integration/10-guests.integration.test.ts
  src/features/chatbot/server/services/__tests__/integration/30-events-timeline.integration.test.ts
  src/features/chatbot/server/services/tool-executor.ts
  src/features/chatbot/tools/definitions.ts
  src/features/chatbot/tools/schemas.ts
  src/features/clients/server/routers/clients.router.ts
  src/features/clients/server/routers/pipeline.router.ts
  src/features/core/server/routers/companies.router.ts
  src/features/core/server/routers/users.router.ts
  src/features/events/server/routers/accommodations.router.ts
  src/features/events/server/routers/events.router.ts
  src/features/events/server/routers/gifts-enhanced.router.ts
  src/features/events/server/routers/gifts.router.ts
  src/features/events/server/routers/hotels.router.ts
  src/features/events/server/routers/timeline.router.ts
  src/features/events/server/routers/vendors.router.ts
  src/features/guests/server/routers/guests.router.ts
  src/features/media/server/routers/documents.router.ts
  src/features/proposals/server/routers/contracts.router.ts
  src/features/proposals/server/routers/proposals.router.ts
  src/features/questionnaires/server/routers/questionnaires.router.ts
  src/features/team/server/routers/team.router.ts
  src/features/workflows/server/routers/workflows.router.ts
  src/lib/db/schema-features.ts
  src/lib/google/sheets-sync.ts
  src/server/trpc/routers/analyticsExport.ts
Due: unit, integration

feat(events+chatbot): events Excel/Sheets I/O + fix chatbot gift table + automation gaps
  docs/DEVELOPER_HANDBOOK.md
  src/app/[locale]/(dashboard)/dashboard/clients/[clientId]/events/page.tsx
  src/components/import/ImportDialog.tsx
  src/features/analytics/server/routers/import.router.ts
  src/features/chatbot/server/services/__tests__/integration/40-clients-hotels-transport-gifts.integration.test.ts
  src/features/chatbot/server/services/tool-executor.ts
  src/features/chatbot/tools/definitions.ts
  src/features/chatbot/tools/schemas.ts
  src/features/guests/server/routers/guests.router.ts
  src/lib/google/sheets-sync.ts
  src/lib/import/__tests__/excel-roundtrip-contract.test.ts
  src/lib/import/excel-parser-server.ts
  src/lib/import/excel-parser.ts
  src/lib/sync/event-timeline-sync.ts
  src/server/trpc/routers/_app.ts
Due: unit, integration

chore(ci): enforce the real vitest suite + deepen gates (jest→vitest)
  .github/workflows/test.yml
  .husky/pre-commit
  jest.config.js
  jest.polyfills.ts
  jest.setup.ts
  package-lock.json
  package.json
Due: none

test(sync): lock 3 recurring invariant classes + fix 3 phantom queryPaths
  src/features/chatbot/server/services/__tests__/broadcast-coverage.test.ts
  src/features/chatbot/server/services/query-invalidation-map.ts
  src/lib/sync/__tests__/querypath-validity.test.ts
  src/lib/sync/__tests__/recalc-coverage.test.ts
Due: unit

fix(import): fail-loud Excel cell normalizer (kill silent "[object Object]")
  src/lib/import/__tests__/normalize-cell-value.test.ts
  src/lib/import/excel-parser-server.ts
Due: unit, integration

fix(events)+test(sync): enforce broadcastSync on every shared-data mutation
  eslint.config.mjs
  src/features/events/server/routers/events.router.ts
  src/lib/sync/__tests__/router-broadcast-coverage.test.ts
Due: unit

test(chatbot): assert broadcast fires at runtime for mutation tools
  src/features/chatbot/server/services/__tests__/integration/60-broadcast.integration.test.ts
Due: none

test(e2e): repair bit-rotted Playwright suite + shared-session foundation
  .claude/skills/agentic-engineering-workflow/SKILL.md
  .claude/skills/code-structure-cleanup/SKILL.md
  .claude/skills/grep-loop-review-workflow/SKILL.md
  .claude/skills/service-layer-architecture/SKILL.md
  .claude/skills/source-code-context/SKILL.md
  .github/workflows/test.yml
  .gitignore
  e2e/auth.spec.ts
  e2e/dashboard.spec.ts
  e2e/example.spec.ts
  e2e/foundation.spec.ts
  e2e/global-setup.ts
  e2e/helpers/auth.ts
  e2e/modules.spec.ts
  playwright.config.ts
  scripts/seed-e2e-user.ts
Due: e2e

docs(handbook): sync testing section + correct phantom queryPaths
  docs/DEVELOPER_HANDBOOK.md
Due: none

docs(audit): persist run-current ledger + RAILS for bulletproof re-audit
  docs/audit/RAILS.md
  docs/audit/run-current/CHECKLIST.md
  docs/audit/run-current/FLOWS.md
  docs/audit/run-current/INVENTORY.md
  docs/audit/run-current/STATE.md
Due: none

test(audit): bulletproof harness phase — runnable verification layer + Sheets DI seam
  .claude/CLAUDE.md
  docs/audit/run-current/STATE.md
  scripts/start-test-stack.sh
  src/features/events/server/routers/__tests__/audit/vendors-per-event.c5.test.ts
  src/features/realtime/__tests__/audit/perf.c7.test.ts
  src/features/realtime/__tests__/audit/realtime.c4.test.ts
  src/lib/export/__tests__/audit/headers.c3.test.ts
  src/lib/google/__tests__/audit/sheets-roundtrip.c1b.test.ts
  src/lib/google/sheets-client.ts
  src/lib/import/__tests__/audit/excel-roundtrip.budget.test.ts
  src/lib/import/__tests__/audit/excel-validation.d1.test.ts
  src/test-support/__tests__/audit/00-foundation.smoke.test.ts
  src/test-support/audit-caller.ts
  src/test-support/fake-sheets-client.ts
  src/test-support/msw-side-effect-handlers.ts
  src/test-support/rail3-guard.ts
  src/test-support/redis-sync-probe.ts
  src/test-support/seed/deterministic-seed.ts
  vitest.audit.config.ts
  vitest.audit.setup.ts
  vitest.config.ts
Due: unit, integration

test(audit): P2 verification — per-module Excel/Sheets round-trips + defect tests
  docs/audit/run-current/FINDINGS.md
  docs/audit/run-current/STATE.md
  src/features/events/server/routers/__tests__/audit/timeline-bulkimport.test.ts
  src/lib/export/__tests__/audit/headers-per-module.c3.test.ts
  src/lib/google/__tests__/audit/sheets-roundtrip.modules.test.ts
  src/lib/import/__tests__/audit/excel-roundtrip.events.test.ts
  src/lib/import/__tests__/audit/excel-roundtrip.gifts.test.ts
  src/lib/import/__tests__/audit/excel-roundtrip.guests.test.ts
  src/lib/import/__tests__/audit/excel-roundtrip.hotels.test.ts
  src/lib/import/__tests__/audit/excel-roundtrip.transport.test.ts
  src/lib/import/__tests__/audit/excel-roundtrip.vendors.test.ts
  src/test-support/audit/roundtrip-util.ts
  src/test-support/seed/module-fixtures.ts
Due: unit

test(audit): P2 verification complete — cross-tab T2, parity, tenant isolation
  docs/audit/run-current/FINDINGS.md
  docs/audit/run-current/STATE.md
  src/features/chatbot/server/services/__tests__/audit/parity-chatbot-vs-sheet.c2.test.ts
  src/features/events/server/routers/__tests__/audit/tenant-isolation.d4.test.ts
  src/features/realtime/__tests__/audit/perf-t2-crosstab.c7.test.ts
Due: none

docs(audit): P2.5 root-cause clustering + sibling sweep + convergence
  docs/audit/run-current/CONVERGENCE.md
  docs/audit/run-current/FINDINGS.md
  docs/audit/run-current/ROOTCAUSE.md
  docs/audit/run-current/STATE.md
Due: none

fix(security): centralize tenant scope — close 19 cross-tenant IDOR sites (Cluster S)
  docs/audit/run-current/STATE.md
  src/features/analytics/server/routers/budget.router.ts
  src/features/backup/server/routers/googleSheets.router.ts
  src/features/communications/server/routers/sms.router.ts
  src/features/events/server/routers/__tests__/audit/tenant-isolation.d4.test.ts
  src/features/events/server/routers/accommodations.router.ts
  src/features/events/server/routers/floor-plans.router.ts
  src/features/events/server/routers/guest-transport.router.ts
  src/features/events/server/routers/timeline.router.ts
  src/features/events/server/routers/vendors.router.ts
  src/features/guests/server/routers/guests.router.ts
  src/features/payments/server/routers/payment.router.ts
  src/server/trpc/client-access.ts
  src/server/trpc/routers/analyticsExport.ts
Due: unit, integration

fix(import): centralize spreadsheet-import "how" — fix B1/C1/P1/D1/I1/I2 (Cluster R)
  docs/audit/run-current/STATE.md
  src/features/analytics/server/routers/import.router.ts
  src/features/chatbot/server/services/__tests__/audit/parity-chatbot-vs-sheet.c2.test.ts
  src/lib/google/__tests__/audit/sheets-roundtrip.modules.test.ts
  src/lib/google/sheets-sync.ts
  src/lib/import/__tests__/audit/excel-roundtrip.gifts.test.ts
  src/lib/import/__tests__/audit/excel-roundtrip.guests.test.ts
  src/lib/import/__tests__/audit/excel-validation.d1.test.ts
  src/lib/import/import-cascade.ts
Due: unit, integration

fix(export): single-source export/import column shape — fix E1/E2/E3 + gifts export (Cluster E)
  docs/audit/run-current/STATE.md
  src/features/analytics/server/routers/export.router.ts
  src/features/analytics/server/routers/import.router.ts
  src/lib/export/__tests__/audit/headers-per-module.c3.test.ts
  src/lib/export/export-utils.ts
  src/lib/import/__tests__/audit/excel-roundtrip.events.test.ts
  src/lib/import/__tests__/audit/excel-roundtrip.gifts.test.ts
  src/lib/import/__tests__/audit/excel-roundtrip.transport.test.ts
  src/lib/import/__tests__/audit/module-shape-contract.test.ts
  src/lib/import/import-cascade.ts
  src/lib/import/module-shape.ts
Due: unit, integration

test(audit): harden test harness — fix H1–H6 (Cluster H)
  docs/audit/run-current/STATE.md
  src/features/realtime/__tests__/audit/perf.c7.test.ts
  src/lib/google/__tests__/audit/sheets-roundtrip.c1b.test.ts
  src/lib/import/__tests__/audit/excel-validation.d1.test.ts
  src/test-support/rail3-guard.ts
  src/test-support/redis-sync-probe.ts
  src/test-support/seed/deterministic-seed.ts
  vitest.audit.setup.ts
Due: unit

docs(audit): Prompt 6A — re-validation + convergence re-sweep (CONFIRMED)
  docs/audit/run-current/CONVERGENCE.md
  docs/audit/run-current/FINDINGS.md
  docs/audit/run-current/KNOWN_GAPS.md
  docs/audit/run-current/STATE.md
Due: none

fix(export): single-source downloadTemplate from MODULE_SHAPES (6A.1) + ledger hygiene
  docs/audit/run-current/INVENTORY.md
  docs/audit/run-current/KNOWN_GAPS.md
  docs/audit/run-current/STATE.md
  src/features/analytics/server/routers/import.router.ts
  src/lib/import/__tests__/audit/downloadtemplate-shape-contract.test.ts
  src/lib/import/module-shape.ts
Due: unit, integration

fix(export): single-source vendor export DATA — combined-export round-trip data-loss (6A.2)
  docs/audit/run-current/KNOWN_GAPS.md
  docs/audit/run-current/STATE.md
  src/features/analytics/server/routers/export.router.ts
  src/features/analytics/server/routers/import.router.ts
  src/lib/export/vendor-export-data.ts
  src/lib/import/__tests__/audit/excel-roundtrip.vendors-combined.test.ts
  src/lib/import/module-shape.ts
Due: unit, integration

Path conditions:
  unit: any of: src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/types/**, **/*.d.ts, **/node_modules/**, .next/**, public/**, **/__tests__/**, **/mocks/**, **/test-utils/**
  integration: any of: src/server/, src/lib/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/types/**, **/*.d.ts, **/node_modules/**, .next/**, public/**, **/__tests__/**, **/mocks/**, **/test-utils/**
  e2e: any of: e2e/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/types/**, **/*.d.ts, **/node_modules/**, .next/**, public/**, **/__tests__/**, **/mocks/**, **/test-utils/**
