Repository nitinthakurcode/weddingflo: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, e2e

docs(audit): record 6A.2 commit SHA in STATE.md ledger
  docs/audit/run-current/STATE.md
Due: none

ci(audit): add non-blocking Audit Gate workflow (tsc/eslint/unit + audit suite)
  .github/workflows/audit.yml
Due: none

ci(audit): harden Audit Gate per /review (alpine images + SRH PING retry)
  .github/workflows/audit.yml
Due: none

docs(audit): record 6C — CI gate landed + draft PR #2 + reviews; RLS = next PR
  docs/audit/run-current/KNOWN_GAPS.md
  docs/audit/run-current/STATE.md
Due: none

docs(audit): record pre-existing CI status — PR #2 red checks are repo debt, not regressions
  docs/audit/run-current/KNOWN_GAPS.md
Due: none

ci(audit): fix pre-existing e2e-tests CI — provision Postgres + deterministic seed
  .github/workflows/test.yml
  scripts/seed-e2e-user.ts
Due: none

fix(e2e): green the 5-browser E2E matrix — prod-gate HSTS + hamburger-aware nav (6D)
  e2e/dashboard.spec.ts
  e2e/helpers/nav.ts
  next.config.ts
Due: e2e

fix(auth): Safari-safe post-auth redirect — close E2E auth:30 on WebKit (6D)
  src/app/[locale]/(auth)/sign-in/[[...sign-in]]/page.tsx
  src/app/[locale]/(auth)/sign-up/[[...sign-up]]/page.tsx
  src/app/[locale]/(portal)/portal/sign-in/[[...sign-in]]/page.tsx
  src/app/[locale]/(superadmin)/superadmin/sign-in/[[...sign-in]]/page.tsx
  src/lib/auth-client.ts
Due: unit, integration

fix(e2e): real auth:30 root cause — WebKit drops first controlled-input fill (6D)
  e2e/helpers/auth.ts
Due: e2e

docs(audit): record 6D — E2E matrix 80/80 GREEN; honest 3-commit story + codecov note
  docs/audit/run-current/KNOWN_GAPS.md
  docs/audit/run-current/STATE.md
Due: none

Revert "fix(auth): Safari-safe post-auth redirect — close E2E auth:30 on WebKit (6D)"
  src/app/[locale]/(auth)/sign-in/[[...sign-in]]/page.tsx
  src/app/[locale]/(auth)/sign-up/[[...sign-up]]/page.tsx
  src/app/[locale]/(portal)/portal/sign-in/[[...sign-in]]/page.tsx
  src/app/[locale]/(superadmin)/superadmin/sign-in/[[...sign-in]]/page.tsx
  src/lib/auth-client.ts
Due: unit, integration

chore(ci): scope codecov patch to product code (exclude e2e + next.config)
  codecov.yml
Due: none

docs(audit): adopt critical-check verdicts — ba62b27 reverted, 80/80 caveated (6D)
  docs/audit/run-current/KNOWN_GAPS.md
  docs/audit/run-current/STATE.md
Due: none

ci(audit): make Audit Gate blocking
  .github/workflows/audit.yml
Due: none

docs(audit): record gate promotion — PR #2 ready, Audit Gate now required on main
  docs/audit/run-current/STATE.md
Due: none

docs(audit): 6B RLS fail-closed backstop — READ-ONLY plan for approval
  docs/audit/run-current/RLS-PLAN-6B.md
Due: none

feat(rls): 6B.1 inert RLS fail-closed backstop — policies on all tenant tables
  docs/audit/run-current/RLS-6B1-RESULT.md
  drizzle/migrations/0035_ensure_app_role.sql
  drizzle/migrations/0036_rls_backstop_policies.sql
  drizzle/migrations/meta/0035_snapshot.json
  drizzle/migrations/meta/0036_snapshot.json
  drizzle/migrations/meta/_journal.json
Due: none

docs(rls): 6B.1 review fixes — accurate uuid/text cast comment + STATE 6B.1
  docs/audit/run-current/STATE.md
  drizzle/migrations/0036_rls_backstop_policies.sql
Due: none

feat(rls): 6B.2 tenant context-injection middleware (still superuser → INERT)
  docs/audit/run-current/STATE.md
  src/features/clients/server/routers/__tests__/clients.router.test.ts
  src/lib/db/with-tenant-scope.ts
  src/server/trpc/trpc.ts
  tests/security/r2-tenant-isolation.test.ts
Due: unit, integration

docs(rls): 6B.2 correction — floor-plans uses ctx.db (nests), not raw db
  docs/audit/run-current/STATE.md
Due: none

docs(rls): track RLS-6B2-RESULT.md (force-add; /docs/ is gitignored)
  docs/audit/run-current/RLS-6B2-RESULT.md
Due: none

fix(rls): 6B.2 skip subscriptions in tenant-scope middleware (code-review)
  docs/audit/run-current/RLS-6B2-RESULT.md
  docs/audit/run-current/STATE.md
  src/server/trpc/trpc.ts
Due: unit, integration

docs(rls): record 6B.2 PR #4 link + Audit Gate green in STATE
  docs/audit/run-current/STATE.md
Due: none

Path conditions:
  unit: any of: src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/types/**, **/*.d.ts, **/node_modules/**, .next/**, public/**, **/__tests__/**, **/mocks/**, **/test-utils/**
  integration: any of: src/server/, src/lib/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/types/**, **/*.d.ts, **/node_modules/**, .next/**, public/**, **/__tests__/**, **/mocks/**, **/test-utils/**
  e2e: any of: e2e/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/types/**, **/*.d.ts, **/node_modules/**, .next/**, public/**, **/__tests__/**, **/mocks/**, **/test-utils/**
